<% provide :title, t(".about") %>

<h1><%= t(".about") %></h1>
<p>
  <%= t(".the") %> <%= link_to t(".rails") , Settings.urlrails %> <%= t(".is") %>
  <%= link_to t(".book"), Settings.urlBook %> <%= t(".and") %>
  <%= link_to t(".screencast"), Settings.urlScreencasts %> <%= t(".and") %>
  <%= link_to t(".rails_n"), Settings.urlRubyRails %>.
  <%= t(".des") %>
</p>
