<% provide :title, t(".help") %>

<h1><%= t(".help") %></h1>
<p>
  <%= t(".get") %>
  <%= link_to t(".rails_s"), Settings.urlHelp %>,
  <%= t(".to") %>
  <%= link_to Settings.urlBook do %>
    <em><%= t(".rails") + " " %></em><%= t(".book") %>
  <% end %>.
</p>
