<% provide :title, t(".help") %>

<h1><%= t(".help") %></h1>
<p>
  <%= t(".get") %>
  <%= link_to t(".rails_s"), Settings.urlHelp %>,
  <%= t(".to") %>
  <%= link_to "<em>" + t(".rails") + "</em>" + t(".book"), Settings.urlBook %>.
</p>
