<% provide :title, t(".help") %>

<h1><%= t(".help") %></h1>
<p>
  <%= t(".get") %>
  <a href="https://www.railstutorial.org/help"><%= t(".rails_s") %></a>.
  <%= t(".to") %>
  <a href="https://www.railstutorial.org/book"><em><%= t(".rails") %></em> <%= t(".book") %></a>.
</p>
