<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t(".home") %></h1>
    <h2>
      <%= t(".this_is")%>
      <%= link_to t(".rails"), Settings.urlRails %>
      <%= t(".sample_app") %>
    </h2>
    <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.urlRubyRails %>
<% end %>
