<footer class="footer">
  <small>
    <%= t(".the") %><a href="https://www.railstutorial.org/"><%= t(".rails") %></a>
    <%= t(".by") %> <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".new"), Settings.url %></li>
    </ul>
  </nav>
</footer>
