<footer class="footer">
  <small>
    <%= t(".the") %><%= link_to t(".rails"), Settings.urlRails %>
    <%= t(".by") %><%= link_to "urlMichael", Settings.urlMichael %>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".new"), Settings.urlRails %></li>
    </ul>
  </nav>
</footer>
