<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".sample_app"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), help_path %></li>
        <li><%= link_to t(".about"), about_path %></li>
        <li><%= link_to t(".login"), "#" %></li>
        <li><%= link_to t(".lang_en"), locale:"en" %></li>
        <li><%= link_to t(".lang_vi"), locale:"vi" %></li>
      </ul>
    </nav>
  </div>
</header>
